name: Release

on:
  workflow_dispatch:
    inputs:
      release:
        description: "Upload build to GitHub Release"
        default: "true"
        type: choice
        options: ["true", "false"]
  push:
    branches:
      - main
      - dev

jobs:
  release:
    name: Build & Release
    permissions:
      contents: write
      packages: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Cache Gradle
        uses: burrunan/gradle-cache-action@v1

      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew :patches:buildAndroid

      - name: Upload rvp artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-artifacts
          path: patches/build/libs/**/*


      - name: Upload to GitHub Release (softprops)
        uses: softprops/action-gh-release@v2
        if: github.event.inputs.release == 'true'
        with:
          tag_name: "v${{ github.run_number }}"
          name: "LINE Custom Patch Build v${{ github.run_number }}"
          generate_release_notes: true
          files: |
            patches/build/libs/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Release by semantic-release
        run: npm exec semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
